body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}


.main-header{
  background-image:
   url("img/background_photo.jpg"),
   url("img/welcome.svg");
  background-repeat: no-repeat;
  background-position: top center;
}


.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}


.site-navigation {
  list-style: none;
}


.main-caption {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}


.five-reasons {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}


.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}


.expected-date {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}


.show-suggestions {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}


.search-hotels-Sedona {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}


.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}


.hotel-description {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}


.name {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}


.price {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}


.rating {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}


.hashtag{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}


.copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
